<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mp.zico.org.sonichartsecond">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="mp.zico.org.sonichartsecond.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mp.zico.org.sonichartsecond.Simple1Activity" />
        <activity android:name="mp.zico.org.sonichartsecond.Simple2Activity" />
        <activity android:name="mp.zico.org.sonichartsecond.Simple3Activity" />
        <activity android:name="mp.zico.org.sonichartsecond.Medium1Activity" />
        <activity android:name="mp.zico.org.sonichartsecond.Medium2Activity" />
        <activity android:name="mp.zico.org.sonichartsecond.Complex1Activity" />
        <activity android:name="mp.zico.org.sonichartsecond.Complex2Activity" />
    </application>

</manifest>